@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

:root {
  --bg-clr: #102432;
  --bg-light-color: #152f40;
  --text-clr: #ffffff;
  --accent-clr: #ffda17;
  /* e88e29 df8118 ffda17 */
  /*========== Colors ==========*/
  --first-color: #ffda17;
  --first-color-light: #152f40;
  --body-color: #102432;

  /*========== Font and typography ==========*/
  --body-font: "Quicksand", sans-serif;
  --normal-font-size: 1rem;
}
/* reset default styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-size: 100%;
  font-weight: 400;
  font-family: Poppins;
}

a,
a:focus,
a:target {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  opacity: 0.7;
}
header {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 1em;
  position: relative;
}

.logo {
  font-size: 1.75rem;
  color: var(--accent-clr);
  border: 3px solid var(--accent-clr);
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: color 0.35s ease-in-out;
}
.logo:hover {
  color: var(--text-clr);
}

.toggle {
  cursor: pointer;
}
.toggle svg {
  fill: var(--accent-clr);
  height: 1.5em;
  width: 1.5em;
}

.toggle.close {
  margin: 1em 0;
}

nav {
  width: 100%;
  max-width: 80vw;
  position: fixed;
  background: var(--bg-light-color);
  top: 0;
  right: -80vw;
  bottom: 0;
  height: 100%;
  padding: 1em;
  transition: all 0.35s ease-in-out;
  z-index: 100;
}

.site-nav li a {
  padding: 0.5em 0;
  display: block;
}

/* Main Container */
.main-container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

/* Hero Section */
.hero-section {
  min-height: calc(100vh - 10em);
  padding: 3em 0;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container {
  max-width: 650px;
}

.hero-top-section {
  font-size: 1.5em;
}
.hero-top-section span {
  color: var(--accent-clr);
}
.hero-title {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
.hero-subtitle {
  font-size: 2em;
  opacity: 0.7;
}

/* cta */
.custom-cta {
  padding: 6px;
  height: 40px;
  background: var(--bg-light-color);
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
}
.custom-cta svg {
  fill: var(--text-clr);
  margin: 0;
  width: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.custom-cta span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-clr);
  background-image: linear-gradient(
    135deg,
    #ffff77 0,
    #fff14e 25%,
    #f8d110 50%,
    #deb100 75%,
    #c79500 100%
  );
  padding: 0 1.5em;
  font-size: 13px;
  height: 28px;
  border-radius: 28px;
}

.custom-cta:hover svg {
  width: 1em;
  height: 1em;
  margin: 6em 0.8em;
}

section {
  padding: 6em 0;
}
.section-title {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 1.5em;
}
.section-title::before {
  content: "/";
  color: var(--accent-clr);
  margin-right: 0.5em;
}

/*========== ICONS TOOLTIP ==========*/
.social,
.social__container,
.social__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .social {
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

.social__content {
  position: relative;
  padding: 0.5rem;
  margin: 2rem 1rem;
  background-color: var(--first-color-light);
  border-radius: 1rem;
  box-shadow: -2px -2px 8px #fafaff, 2px 2px 8px rgba(13, 12, 64, 0.2);
  cursor: pointer;
}

.social__icon {
  font-size: 2rem;

  color: var(--first-color);
  width: 32.8px;
}
.social__icon a {
  text-decoration: none;
  text-emphasis: none;
}

.social__tooltip {
  opacity: 0;
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: var(--first-color);
  color: var(--first-color-light);
  font-size: var(--normal-font-size);
  white-space: nowrap;
  font-weight: 700;
  border-radius: 0.5rem;
  pointer-events: none;
}

.social__tooltip::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 3px;
}

.social__content,
.social__tooltip,
.social__icon {
  transition: 0.3s;
}

.social__content:hover {
  background-color: var(--first-color);
}

.social__content:hover .social__icon {
  color: var(--first-color-light);
}

/*========== Tooltip left ==========*/
.social__tooltip-left {
  left: 0;
  transform: translateX(-100%);
}

.social__tooltip-left::after {
  top: 50%;
  transform: translate(50%, -50%) rotate(45deg);
  right: 1px;
}

.social__content:hover .social__tooltip-left {
  opacity: 1;
  left: -1rem;
}

/*========== Tooltip top ==========*/
.social__tooltip-top {
  top: -2.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.social__tooltip-top::after {
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  bottom: 1px;
}

.social__content:hover .social__tooltip-top {
  opacity: 1;
  top: -3.25rem;
}

/*========== Tooltip bottom ==========*/
.social__tooltip-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.social__tooltip-bottom::after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 1px;
}

.social__content:hover .social__tooltip-bottom {
  opacity: 1;
  bottom: -1rem;
}

/*========== Tooltip right  ==========*/
.social__tooltip-right {
  right: 0;
  transform: translateX(100%);
}

.social__tooltip-right::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 1px;
}

.social__content:hover .social__tooltip-right {
  opacity: 1;
  right: -1rem;
}

.image-wrapper {
  width: 100%;
  max-width: 300px;
  padding: 0.5em;
  margin: 0 auto;
  border: 1px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  /* overflow: hidden; */
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0.2;
  transition: 0.2s all 0.35s ease-in-out;
}

.image-wrapper:hover {
  padding: 1em;
  transform: scale(1.06);
  border-color: var(--accent-clr);
}
.image-wrapper:hover img {
  opacity: 1;
}
/* Typing zone */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .dynamic-txts {
  /* margin-left: 15px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 88px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  color: #ffda17;
  list-style: none;
  font-size: 66px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  position: relative;
  top: 0;
  animation: slide 8s steps(5) infinite;
}
@keyframes slide {
  100% {
    top: -450px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 10px;
  /* animation: changeColor 3s linear infinite; */
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-clr);
  border-left: 2px solid #ffda17;
  animation: typing 1.6s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
/* technologies section */

section .lights {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--bg-clr);
}

section .loader {
  position: relative;
  display: flex;
  animation: changeColor 3s linear infinite;
}

@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
section .loader .dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: var(--first-color);
  box-shadow: 0 0 10px #ffda17;
  margin: 50px 10px;
  transform: scale(0.1);
  border-radius: 50%;
  animation: animateDot 4s linear infinite;
  animation-delay: calc(0.7s * var(--i));
}

section .loader:last-child .dot {
  animation: animateDot1 2s linear infinite;
  animation-delay: calc(-0.1s * var(--i));
}

@keyframes animateDot {
  0% {
    transform: scale(0.1);
  }
  10% {
    transform: scale(5);
  }
  50%,
  100% {
    transform: scale(0.1);
  }
}

@keyframes animateDot1 {
  0% {
    transform: scale(0.1);
  }
  10% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(0.1);
  }
}

/* Work section */
.work-section {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.work-card {
  background: var(--bg-light-color);
  padding: 1em;
  border-radius: 5px;
  /* text-align: justify; */
}

.work-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.folder {
  fill: var(--accent-clr);
  height: 2em;
  width: 2em;
}
/* .work-top span a */

.work-top span svg {
  fill: var(--text-clr);
  height: 1em;
  width: 1em;
}

.work-title {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 25px;
}

.img-calculator img {
  position: relative;
  width: 100%;
  /* max-width: 500px; */
  border-radius: 5px;
}

.work-title p {
  font-size: 0.8em;
}
.work-technologies span {
  display: inline-flex;
  padding: 0.3em 1.5em;
  margin: 0.2em;
  font-size: 1em;
  background: var(--bg-clr);
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.work-technologies span:hover {
  background: var(--accent-clr);
  color: var(--bg-clr);
}
.contact-section {
  background: var(--bg-light-color);
}
.contact-section h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.contact-section p {
  margin-top: 0;
}
.custom-cta.dark {
  background: var(--bg-clr);
}
footer p {
  font-size: 0.8em;
}

/* Responsive Design */
@media (min-width: 650px) {
  .work-section {
    grid-template-columns: 1fr 1fr;
  }
}

/* JavaScript */
.nav-open {
  right: 0;
}
